@namespace Ext.DevTools.Model
@model GenerateMigrationFromEntityPageModel
@{
    ViewData["Title"] = "Generate Migration from Entity";
}
@section ContentHeader {
    <h1>Generate Migration from Entity/Row <small class="text-danger">Beta!</small></h1>
}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success lead bold">
            File(s) successfully generated in App_Data/GeneratedMigrations folder.

        </div>
    </div>
</div>
