
@{
    ViewData["Title"] = "Orders By Castomer";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtra.ExtraSamples.OrdersByCustomerReportPanel($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>