{
    "RootNamespace": "SerExtra",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=SerExtra_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=SerExtra_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\SerExtra\\SerExtra.Web\\SerExtra.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {
        "GridEditor": "{2}\\{0}GridEditor.ts",
        "EditorDialog": "{2}\\{0}EditorDialog.ts"
    },
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}