/* Dialog Styles ---------------------------------------*/
.ui-dialog .ui-dialog-titlebar {
    border-bottom: solid 1px #999;
    background-color: #444;
}
/*.ui-dialog .ui-dialog-titlebar {
    border-bottom: solid 1px #999;
    background: linear-gradient(#fff 0px, #069 10%, #fff 120%) repeat-x #ffffff;
    text-shadow: 2px 2px 1px #505050;
}*/

.ui-dialog .ui-dialog-title {
    font-weight: 600;
}

.s-Dialog > .size {
    width: 750px;
    height: 600px;
}

.s-Form .caption {
    text-align: left;
    padding-left: 5px;
    padding-right: 0px;
    width: 170px;
}

    .s-Form .caption sup {
        float: right;
        top: 10px;
        font-size: 15px;
    }

.s-Form .category .field {
    padding-left: 20px;
}

.emaildomain {
    width: 200px;
}

.row-reversed {
    flex-direction: row-reverse;
}

.no-label {
    padding-left: 5px;
}

    .no-label label {
        display: none;
    }

.label-only > label {
    width: 100% !important;
}

.label-only > input {
    display: none;
}

.offset-field {
}

    .offset-field label {
        display: none;
    }

    .offset-field input {
        display: none;
    }



@media (min-width: 768px) {
    .width2 {
        flex: auto !important;
        width: 16.5% !important;
    }

        .width2 .caption {
            width: 90px;
        }
}

@media (min-width: 768px) {
    .width-1percent {
        flex: auto !important;
        width: 1% !important;
    }

        .width-1percent .caption {
            width: 100%;
        }
}

@media (min-width: 768px) {
    .width3 {
        flex: auto !important;
        width: 25% !important;
    }
}

@media (min-width: 768px) {
    .width4 {
        flex: auto !important;
        width: 33% !important;
    }

        .width4 .caption {
            width: 90px;
        }
}

@media (min-width: 768px) {
    .width6 {
        flex: auto !important;
        width: 50% !important;
    }
}

@media (min-width: 768px) {
    .width9 {
        flex: auto !important;
        width: 73% !important;
    }
}

/* Grid Styles ---------------------------------------*/
.slick-header-column {
    text-align: center;
}

.slick-cell {
    border-right: 1px solid #ddd !important;
    border-width: thin !important;
}

    .slick-cell.editable {
        /*background: white;*/
        /*border-color: black;*/
        border-style: none;
    }

.serial-column {
    background-color: #eee;
    text-align: center;
}

.quick-filter-item .inplace-button {
    display: none;
}

.quick-filter-item .s-LookupEditor {
    width: 230px;
}

.inline-action {
    opacity: 1;
}

    .inline-action :hover {
        color: coral;
        text-shadow: 0px 0px 2px #000;
    }

/*slick-row:hover {
    background-color: cadetblue;
}*/

/* Slick.Editors.Text, Slick.Editors.Date */
input.editor-text {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    background: transparent;
    outline: 0;
    padding: 0;
}

.slick-cell .ui-datepicker-trigger {
    margin-top: 2px;
    padding: 0;
    vertical-align: top;
    float: right !important;
}

#ui-datepicker-div {
    z-index: 1200 !important;
}
/* Slick.Editors.YesNoSelect */
select.editor-yesno {
    width: 100%;
    margin: 0;
    vertical-align: middle;
}
/* Slick.Editors.Checkbox */
input.editor-checkbox {
    margin: 0 !important;
    height: 100%;
    padding: 0;
    border: 0;
}

.slick-cell {
    /* Slick.Editors.Select2 */
}

    .slick-cell .select2-container {
        width: 104%;
        top: -2px;
        left: -5px;
    }

input.s-DateTimePickerEditor {
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
/* make bootstarp dropdown menu compatilbe with slick grid */
.cell-overflowed {
    overflow: visible;
}

.slick-group > .slick-cell,
.no-z-index {
    z-index: auto;
}

.z-indexed-dropdown {
    z-index: 999999;
    border: 1px solid gray;
}

ul.list-inline {
    padding: 5px 20px;
}

.btn-customized-save .button-inner {
    background-image: url(../serenity/images/disk-arrow.png);
}

/* grid cardview. ---------------------------------------*/

.view-switch {
    position: relative;
    top: -10px;
}

.card-container {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #ecf0f5;
}

    .card-container .card-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px 0px;
    }

    .card-container .card-item {
        /*flex: 0 1 calc(100% - 4px);*/
        padding: 8px;
        background-color: #fff;
        box-shadow: 1px 2px 3px rgba(0,0,0,.2);
        /*height: 130px;*/
        overflow: hidden;
        margin: 10px;
    }

        .card-container .card-item table {
            width: 100%;
            table-layout: fixed;
        }

        .card-container .card-item td {
            padding: 4px;
        }

            .card-container .card-item td.img {
                width: 116px;
            }

                .card-container .card-item td.img img {
                    width: 100px;
                }

        .card-container .card-item .name {
            font-weight: bold;
        }

/*@media(min-width: 900px) {
    .card-container .card-item {
        flex-basis: calc(50% - 12px)
    }
}

@media(min-width: 1600px) {
    .card-container .card-item {
        flex-basis: calc(33% - 12px)
    }
}*/

.favorite-views {
    margin-right: 4px;
    position: relative;
    top: -12px;
}

    .favorite-views ul {
        font-size: 12px;
        width: 150px;
        min-width: 150px;
    }

    .favorite-views li.save {
        padding: 6px;
    }

        .favorite-views li.save input {
            margin-top: 2px;
            width: 126px;
        }

        .favorite-views li.save button {
            margin-top: 4px;
            font-size: 12px;
        }

    .favorite-views li.fav {
        position: relative;
        padding-right: 16px;
    }

    .favorite-views i.fa-trash-o {
        cursor: pointer;
        position: absolute;
        right: 4px;
        top: 5px;
        color: #800000;
    }
/* Misc. ---------------------------------------*/
.info-window dt {
    float: left;
    clear: left;
    width: 100px;
    font-weight: bold;
}

.info-window dd {
    float: left;
    margin: 5px 0px 5px 50px;
}

.vis-item .vis-item-overflow {
    overflow: visible;
}

.left-indent-2 {
    padding-left: 20px;
}

.left-indent-3 {
    padding-left: 40px;
}

.left-indent-4 {
    padding-left: 60px;
}
