@{
    ViewData["Title"] = Serenity.LocalText.Get("Db._Ext.AuditLog.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new _Ext.GridWithAllOverridableMethods($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>