@{
    ViewData["Title"] = "Sergen";
}

@section Head {
    @Html.Script("~/Scripts/vue.js")
}

<div id="PanelDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new _Ext.DevTools.SergenPanel($('#PanelDiv'), {}).init();
    });
</script>