@{
    ViewData["Title"] = "Database Explorer";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new _Ext.DevTools.DatabaseExplorerGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>