
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Northwind.Customer.EntityPlural");
}

<div id="reactRoot"></div>

<script type="text/javascript">
        ReactDOM.render(
        React.createElement(SerExtra.ExtraSamples.Profile, null),
        document.getElementById('reactRoot'));
</script>