@{
    ViewData["Title"] = "Custom Template Grid";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtra.ExtraSamples.CustomTemplateGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>