@{
    ViewData["Title"] = "Main Grid Inline Editing";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.ExtraSamples.MainGridMultiEditingGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>